<div id="front-page-banner">
  <div id="front-page-banner-image"></div>
  <div id="front-page-banner-overlay" class="text-center">
    <h1>We provide best user experience</h1>
    <p>From small businesses to large companies, we have been successfully creating websites and web applications for our clients.</p>
    <a id="about-rames-link">ABOUT RAMES</a>
  </div>
</div>

<div id="about-rames-container" class="text-center">
  <h2>About RAMES</h2>
  <div class="uxinn-divider">
    <div class="uxinn-divider-inner"></div>
  </div>
  <p id="about-rames-p">Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet domir id quod mazim.</p>
  <div class="container">
    <div class="row">
      <div class="about-rames-item col-md-2 col-sm-4 col-md-push-1">
        <p class="about-header">ROLES</p>
        <p class="about-subtext">Nam liber tempor cum soluta nobis eleifend</p>
      </div>
      <div class="about-rames-item col-md-2 col-sm-4 col-md-push-1">
        <p class="about-header">ACTIVITIES</p>
        <p class="about-subtext">Nam liber tempor cum soluta nobis eleifend</p>
      </div>
      <div class="about-rames-item col-md-2 col-sm-4 col-md-push-1">
        <p class="about-header">MATERIALS</p>
        <p class="about-subtext">Nam liber tempor cum soluta nobis eleifend</p>
      </div>
      <div class="about-rames-item col-md-2 col-sm-4 col-md-push-1">
        <p class="about-header">ENVIRONMENT</p>
        <p class="about-subtext">Nam liber tempor cum soluta nobis eleifend</p>
      </div>
      <div class="about-rames-item col-md-2 col-sm-4 col-md-push-1">
        <p class="about-header">SOFTWARE</p>
        <p class="about-subtext">Nam liber tempor cum soluta nobis eleifend</p>
      </div>
    </div>
  </div>
  <div id="gray-box"> </div>
  <div id="oval-top-container">
    <div id="oval-top-background">
      <h2>About UXINN</h2>
      <div class="uxinn-divider">
        <div class="uxinn-divider-inner"></div>
      </div>
      <p id="about-uxinn-p">Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet domir id quod mazim.</p>
      <div class="container">
        <div class="row">
          <div class="about-uxinn-item col-md-4">
            <img src="/image/Marta.png"></img>
            <p class="about-header">Dr. Marta Kristín Lárusdóttir</p>
            <p class="about-subtext">Nam liber tempor cum soluta nobis eleifend</p>
          </div>
          <div class="about-uxinn-item col-md-4">
            <img src="/image/Marta.png"></img>
            <p class="about-header">Sigurjón Albertsson</p>
            <p class="about-subtext">Nam liber tempor cum soluta nobis eleifend</p>
          </div>
          <div class="about-uxinn-item col-md-4">
            <img src="/image/Marta.png"></img>
            <p class="about-header">Bjarni Kristinnson</p>
            <p class="about-subtext">Nam liber tempor cum soluta nobis eleifend</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
