<br>
<h5>{{category[0].Info}}</h5>
<button class="btn btn-info btn-xs " ng-click="isCollapsed = !isCollapsed">
	<span class="glyphicon glyphicon-info-sign">
	</span>
</button>
<br>
<br>
<hr>
<br>
<div ng-repeat="info in ramesInfo">
<!-- Name of info and explain information -->
	<div class="media">
		<div class="media-body">
			<h4 class="media-heading">
				{{info.Name}}  
			</h4>
			    <div ng-show="isCollapsed">
        			{{info.QuestionExplanation}}
    			</div>

		</div>
	</div>
	<div ng-repeat="question in questions">
		<div ng-if="question.RamesInfoID == info.ID "> 
<!-- Info on each question -->
			<div class="media">
				<div class="media-body">
					<div class="media-heading">
					<br>
					{{question.QuestionNr}}. {{question.Question}} 
				</div>
<!-- Number Checked and works ans.  -->
				<div ng-if="question.Type == 'num'">
					<div ng-repeat="ans in answers">
						<div ng-if="question.ID == ans.QuestionID">
							<div class="form-group">
								<input ng-model="ans['Answer']['number']" type="number" class="form-control"  >
					        </div>
						</div>
					</div>
				</div>
<!-- Text Checked and works ans.-->
				<div ng-if="question.Type == 'text'">
					<div ng-repeat="ans in answers">
						<div ng-if="question.ID == ans.QuestionID">
							<div class="form-group">
								<textarea ng-model="ans.Answer['text']" class="form-control" rows="5" ></textarea>
							</div>
						</div>
					</div>
				</div>
<!-- YES NO Radio Checked and works ans-->
				<div ng-if="question.Type == 'yesno'">
					<div ng-repeat="ans in answers">
						<div ng-if="question.ID == ans.QuestionID">
							<label class="radio-inline">
								<input ng-hide=true ng-model="ans.Answer['yesno']" type="radio" value=''> 
							</label>
							<label class="radio-inline">
								<input ng-model="ans.Answer['yesno']" type="radio" value='Yes'> Yes
							</label>
							<label class="radio-inline">
								<input ng-model="ans.Answer['yesno']" type="radio" value='No'> No
							</label> 
						</div>
					</div>
				</div>
<!-- Radio Checked and work ans-->
				<div ng-if="question.Type == 'radio'">
					<div ng-repeat="ans in answers">
						<div ng-if="question.ID == ans.QuestionID">
							<div ng-repeat="ch in radio">
                                <div ng-if="ch.QuestionID == question.ID">
                                	<label class="radio-inline">
                                    	<input type="radio" value="{{ch.Choice}}" ng-model="ans.Answer['radio']">
                            				{{ch.Choice}}
                                	</label>
                                </div>
            	            </div>
						</div>
					</div>
                </div>
<!-- Conditinal yes or no text Checked and works ans -->
                <div ng-if="question.Type == 'conditionalyesnotext'">
					<div ng-repeat="ans in answers">
						<div ng-if="question.ID == ans.QuestionID">
							<label class="radio-inline">
								<input ng-hide=true ng-model="ans.Answer['conditionalyesnotext']" type="radio" value=''> 
							</label>
							<label class="radio-inline">
								<input ng-model="ans.Answer['conditionalyesnotext']" type="radio" value='Yes'> Yes
							</label>
							<label class="radio-inline">
								<input ng-model="ans.Answer['conditionalyesnotext']"  type="radio" value='No' > No
							</label>
							<select ng-show="ans.Answer['conditionalyesnotext'] == 'Yes'" ng-model="ans.Answer['Text']['conditionalyesnotext']" >
								<option value="" > --- Choose --- </option>
								<option ng-if="ch.QuestionID == question.ID" ng-repeat="ch in dropdown" > {{ch.Choice}} </option>
							</select>
							<textarea ng-show="ans.Answer['conditionalyesnotext'] == 'Yes'" style="width:100% !important;" ng-model="ans.Answer['Textbox']['conditionalyesnotext']" rows="5" columns="10" ></textarea>
						</div>
					</div>
                </div>
<!-- Checkbox Checked and work ans-->
                <div ng-if="question.Type == 'checkbox'">
					<div ng-repeat="ans in answers">
						<div ng-if="question.ID == ans.QuestionID">
								<div ng-repeat="ch in checkbox">
									<ul ng-if="ch.QuestionID == question.ID">
										<div ng-if="ch.Textbox == 'n'">	
											<label class="checkbox-inline">
									    		<input ng-model="ans.Answer['checkbox']['data'][$index]" type="checkbox" ng-true-value="'{{ch.Choice}}'" ng-false-value="''"  >  {{ch.Choice}}
											</label>
										</div>
										<div ng-if="ch.Textbox == 'y'">
											<br>
											<br>
											<label class="checkbox-inline">	
									    		<input ng-model="ans.Answer['checkbox']['data'][$index]" type="checkbox" ng-true-value="'{{ch.Choice}}'" ng-false-value="''">  {{ch.Choice}}
									   		</label>
										    <textarea style="width:100% !important;" ng-model="ans.Answer['checkbox']['Text']" class="form-control" rows="5" columns="10">	
										    </textarea>                                
										</div>
									</ul>
								</div>
							</div>
						</div>
					</div>
                </div>
<!-- Dropdown Checked and works ans-->
                <div ng-if="question.Type == 'dropdown'">
					<div ng-repeat="ans in answers">
						<div ng-if="question.ID == ans.QuestionID">
							<select ng-model="ans.Answer['Text']">
							<option value=""> --- Choose --- </option>
							<option ng-if="ch.QuestionID == question.ID" ng-repeat="ch in dropdown"> {{ch.Choice}} </option>
							</select>
							<textarea style="width:100% !important;" ng-model="ans.Answer['Textbox']" rows="5" columns="10" ></textarea>
						</div>
					</div>
                </div>
<!-- Suggestion for each question -->
                <div>
					<div ng-if="question.Type != 'none'">
               		    <br>
                	</div>
                		<div ng-show="isCollapsed">
        					{{question.Suggestion}}
    					</div>
                </div>
			</div>
		</div>
	</div>
</div>

<div class="col-md-12">
	<a class="btn btn-default pull-right inline" style="margin-left: 2px;" ng-click="saveInfo('next')">{{buttonNext}}</a>
	<a class="btn btn-default pull-right inline" style="margin-right: 2px;" ng-click="saveInfo('save')">{{buttonSave}}</a> 
</div>
	
<br>
<br>

<hr>
<br>
<br>


